.containter {
    width: 100%;
    height: 675px;
    background-image: url("../../assets/main_background.png");
    display: flex;
    justify-content: center;
}

.cardsHolder {
    width: 70%;
    height: 100%;
    background-color: #fffbf0;
}