.card--main{
    height:100%;    
    width:80%;
    padding:10px;
    box-shadow: 5px 8px 3px #a3a3a3;
    background-color: white;
    border-radius: 30px;
    padding:10px;

}

.card--likeCount{
    display:flex;
    justify-content: inline;
}

.card--main > h3{
    color:rgb(213, 211, 211);
    font-size:15px;
    font-weight: lighter;
}

.card--likeCount{
    color:#FFB703;
}

.card--main > p {
    padding:10px;
}

.card--likeCount{
    padding-left:10px;  
}

.laughIcon{
    padding-right:20px;
}
